#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(4, 0, 20);
  /* background: rgb(4, 6, 20); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all .2s;
}

:root {
  --primary: #085ca6;
  --bg: #181818;
  --barStas: #d7a53b;
  --colorText: #ffffff;
  --black: #000;
  --white: #fff;
  --gray: rgb(172, 166, 166);
  --divide: #404040;
  --danger: #f2935c;
  --warning: #d7a53b;
  --strokeLine: rgb(46, 46, 46);
}

/* Caruousel /////////////////////////////// */

.wrapper {
  max-width: auto;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }

  .list-menu{
    display: none!important;
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
    height: 280px;
  }

  .list-menu {
    display: none !important;
  }
}

/* Main */

.home-mng {
  width: 100%;
  display: flex;
  padding: 0px;
}

.main-home {
  width: 70%;
  /* background-color: #00162955; */
  padding-bottom: 60px;
}

.aside-home {
  width: 30%;
  padding: 0px 15px;
  /* background-color: #00ffff12; */
}

.sec-categoria {
  margin-bottom: 60px;
}

.sec-menu ul {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}

.sec-menu li {
  width: 33.3%;
  padding: 10px;
  border: 1px solid black;
  font-size: 1.3rem;
  font-weight: 700;
}

.sec-menu .cat-active {
  background-color: rgb(106, 1, 1);
}

.sec-cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: hidden;
  justify-content: flex-start;
  width: 100%;
}

.cont-card{
  width: 16.66666667%;
  height: 250px;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sec-cards .card{
  height: 250px;
  width: 100%;
  max-height: 300px;
  border: 2px solid rgb(106, 97, 97);

  background-image: url("../img/oshinoko.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  padding-top: 10px;
  cursor: pointer;
}


.sec-cards .card div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.sec-cards .card .categoria {
  background-color: rgb(4, 149, 4);
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 15px;
}

.sec-cards .card .calificacion{
  color: white;
  background-color: rgb(250, 25, 25);
  font-weight: 600;
  padding: 10px;
  border-radius: 20px;
  margin-right: -25px;
  margin-top: -30px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.sec-cards .card .nombre {
  color: white;
  font-weight: 700;
  z-index: 1000;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  display: flex;
  align-items: end;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.723) 100%);
}

.sec-grupos {
  text-align: left;
  margin-top: 60px;
}

.sec-grupos h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding-left: 15px;
}


.sec-grupos .cont-cardgr{
  width: 33.333333%;
  min-width: 250px;
  padding: 0px 15px;
  height: 250px;
  margin-bottom: 20px;
}

.sec-grupos .sec-cards .card {
  background-image: url("../img/isugo.jpg");
  background-position: center;
  border: none;
  width: 100%;
}

.sec-grupos .sec-cards .card .nombre {
  height: 150px;
  background: rgb(255, 255, 255);
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 1) 100%);
}

.sec-noticias {
  text-align: left;
  margin-top: 60px;
  padding: 0px 15px;
}

.sec-noticias h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.sec-noticias .cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.sec-noticias .card {
  background-color: #24252c;
  padding: 30px;
  display: flex;
  width: 48%;
}

.sec-noticias .card img {
  height: 200px;
  width: 160px;
  margin-right: 30px;
  object-fit: cover;
}

.sec-noticias .card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.sec-noticias .card p {
  font-size: 0.9rem;
  max-height: 90px;
  overflow: hidden;
}

.sec-noticias .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec-noticias .card .fecha {
  color: #909090;
}

.sec-subidos {
  text-align: left;
  margin-top: 60px;
}

.sec-subidos h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 0px 15px;
}

.sec-subidos .sec-cards {
  margin-bottom: 40px;
}

.sec-tops {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  background: rgb(143, 0, 0);
  background: linear-gradient(180deg, rgba(143, 0, 0, 1) 0%, rgba(83, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
}

.cont-semanal {
  width: 50%;
  padding: 0px 40px;
  text-align: left;
}

.sec-tops h3 {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.sec-tops .cont-img {
  background-image: url("../img/oshinoko.png");
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 100px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.sec-tops .cont-img p {
  background-color: rgb(22, 21, 25);
  color: #f0dd93;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  font-size: 1.2rem;
}

.sec-tops .card {
  display: flex;
  padding: 10px 0px;
}

.sec-tops .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec-tops .card .nombre {
  margin-top: 15px;
}

.sec-tops .card .categoria {
  background-color: rgb(4, 149, 4);
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 15px;
  text-align: center;
}

.cont-mensual {
  width: 50%;
  padding: 0px 40px;
  text-align: left;
}


.sec-dibujo h2 {
  font-size: 1.6rem;
  text-align: left;
  padding-left: 5px;
  margin-top: 30px;
}

.sec-dibujo .cont-img {
  margin-top: 25px;
  background-color: #1e1e21;
  padding: 20px 30px;
}

.sec-dibujo .cont-img img {
  width: 100%;
  border-radius: 20px;
}

.sec-chatmanga img{
  width: 100%;
  margin-top: 20px;
}

.sec-chatmanga img{
  width: 100%;
  margin-top: 20px;
}

.sec-joindc img {
  width: 100%;
  margin-top: 20px;
}

/* login ///////////////////////////////*/

.container-general {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  background-color: #000;
}

.width-page {
  height: 100%;
  width: 100%;
  /* background-color: #000; */
  background: rgb(4, 6, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-public-layout {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3vw;
  max-width: 500px;
}

.text-color-hover {
  color: #085ca6;
}

.form {
  margin: 10px auto;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  padding: 0 10px;
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
}

.form-group {
  margin: auto 0;
  width: 100%;
  padding: 5px 40px;
  text-align: start;
}

.text-label {
  text-transform: uppercase;
  color: #404040;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.input-style {
  max-width: 100%;
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  background-color: #e4e4e4;
  outline: none;
  width: 100%;
  color: #000;
}

.input-style.search { 
  margin: 0;
  padding: 10px;
  background-color: rgb(31, 31, 31);
  outline: none;
  border: 1px solid rgb(83, 90, 117);
  color: white;
}


.btn-primary {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #404040;
  color: white;
  cursor: pointer;
  text-align: center;
}

.btn-primary:hover {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #5c5c5c;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: .2s all;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
}

.justify-between {
  justify-content: space-between;
}

.text-color-white {
  color: white;
  text-align: center;
}

@media (min-width: 1280px) {
  .width-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .title-public-layout {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    max-width: 500px;
  }

  .text-color-hover {
    color: #085ca6;
  }

  .form {
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: 0 10px;
    padding: 40px 0;
    max-width: 500px;
    width: 100%;
  }

  .form-group {
    margin: auto 0;
    width: 100%;
    padding: 5px 40px;
    text-align: start;
  }

  .text-label {
    text-transform: uppercase;
    color: #404040;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  .input-style {
    max-width: 100%;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    background-color: #e4e4e4;
    outline: none;
    width: 100%;
    color: #000;
  }

  .btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #404040;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
  }

  .justify-between {
    justify-content: space-between;
  }

  .text-color-white {
    color: white;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .width-page {
    height: 100%;
    width: 100%;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-public-layout {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 500px;
    font-size: 4.5vw;
  }

  .text-color-hover {
    color: #085ca6;
  }

  .form {
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: 0 10px;
    padding: 40px 0;
    max-width: 500px;
    width: 100%;
  }

  .form-group {
    margin: auto 0;
    width: 100%;
    padding: 5px 40px;
    text-align: start;
  }

  .text-label {
    text-transform: uppercase;
    color: #404040;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  .input-style {
    max-width: 100%;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    background-color: #e4e4e4;
    outline: none;
    width: 100%;
    color: #000;
  }

  .btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #404040;
    color: white;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
  }

  .justify-between {
    justify-content: space-between;
  }

  .text-color-white {
    color: white;
    text-align: center;
  }
}

@media (min-width: 290px) and (max-width: 768px) {
  .width-page {
    height: 100%;
    width: 100%;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-public-layout {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 500px;
    font-size: 7.5vw;
  }

  .text-color-hover {
    color: #085ca6;
  }

  .form {
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: 0 10px;
    padding: 40px 0;
    max-width: 500px;
    width: 100%;
  }

  .form-group {
    margin: auto 0;
    width: 100%;
    padding: 5px 40px;
    text-align: start;
  }

  .text-label {
    text-transform: uppercase;
    color: #404040;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  .input-style {
    max-width: 100%;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    background-color: #e4e4e4;
    outline: none;
    width: 100%;
    color: #000;
  }

  .btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #404040;
    color: white;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  .justify-between {
    justify-content: space-between;
  }

  .text-color-white {
    color: white;
  }
}

.menu-accordion{
  display: none;
}

.css-vuaoq9-MuiPaper-root-MuiAccordion-root.Mui-expanded{
  margin: 0px !important;
}

.css-vuaoq9-MuiPaper-root-MuiAccordion-root:before{
  display: none;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  padding: 0px !important;
}

.css-vuaoq9-MuiPaper-root-MuiAccordion-root{
  box-shadow: none !important;
  border-bottom: 1px solid white;
}

.css-vuaoq9-MuiPaper-root-MuiAccordion-root:last-of-type{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.css-ahj2mt-MuiTypography-root{
  text-align: left;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0px 16px !important;
  padding-bottom: 10px !important;
}

.css-15v22id-MuiAccordionDetails-root ul li,
.css-15v22id-MuiAccordionDetails-root p{
  padding-bottom: 10px;
}

.css-15v22id-MuiAccordionDetails-root ul li a,
.css-15v22id-MuiAccordionDetails-root p{
  color: rgb(201, 201, 201);
}

.css-15v22id-MuiAccordionDetails-root ul li a:hover{
  color: rgb(255, 255, 255);
}

.css-i4bv87-MuiSvgIcon-root{
  color: white;
}


/* ----------------------------- */

.manga-desc{
  background-image: linear-gradient(to bottom, transparent, black), url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.desc-content{
  max-width: 1280px;
  display: flex;
  margin: auto;
  height: 600px;
  align-items: end;
}

.content{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.desc-content .imagen img{
  height: 380px;
}

.desc-content .resumen{
  text-align:start;
  margin-left: 30px;
}

.capitulos{
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cap-box .wid-box, .manga-type{
  background-color:rgb(46, 46, 46);
  text-align: left;
}

.manga-type{
  padding: 20px;
}

.cap-box{
  width: 68%;
}

.cap-box hr{
  width: 100%;
}

.cap-box .wid-box .start-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cap-box .wid-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cap-box .accordion{
  width: 100%;
}

.manga-type{
  width: 30%;
}

.cap-box input{
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 25%;
}

.typography{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.capitulos .manga-type .type-titles{
  font-size: 25px;
}

.generos .genero button{
  background-color: var(--gray);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px; 
  margin: 5px;
}

.chat{
  margin-top: 50px;
}

/* ---------------------------------------- */

/* 
.css-1aquho2-MuiTabs-indicator{
  display: none !important;
} */

.css-1ujnqem-MuiTabs-root{
  border-radius: 10px !important;
  margin-bottom: 20px;
}

.css-1vw5i9y-MuiButtonBase-root-MuiTab-root{
  font-weight: bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  color: white !important;
  opacity: 1 !important;
}

.css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected{
  background-color: rgb(106, 1, 1);
}

.css-8je8zh-MuiTouchRipple-root{
  display: none;
}

.css-11yukd5-MuiTabs-indicator{
  display: none;
}

.css-19kzrtu{
  padding: 0px !important;
}


@media (max-width: 1200px) {
  
  .cont-card{
    width: 25%;
  }

  .sec-noticias .cards{
    flex-direction: column;
  }

  .sec-noticias .card{
    width: 100%;
    margin-bottom: 15px;
  }
}


@media (max-width: 990px) {
  
  .cont-card{
    width: 33.33333333%;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .aside-home{
    display: none;
  }

  .main-home{
    width: 100%;
  }

  .sec-grupos .cont-cardgr{
    width: 49%;
  }

  /* -------------------------------- */

  .manga-desc .desc-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .manga-desc{
    background-image: var(--barStas) !important;
  }

  .manga-desc .desc-content{
    height: auto;
  }

  .capitulos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }

  .capitulos .manga-type, .capitulos .cap-box{
    width: 100%;
    margin-bottom: 25px;
  }

  .capitulos .chat img{
    width: 100%;
  }

  .capitulos .chat{
    margin-top: 25px;
  }

  .manga-desc .imagen{
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, black), url('../img/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: cover;
  }

  .manga-desc .imagen{
    padding-top: 200px;
    padding-bottom: 20px;
  }

  .desc-content .resumen{
    width: 90%;
    margin: 0;
  }
  
  .desc-content .resumen h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

}

@media (max-width: 768px) {
  
  .cont-card{
    width: 50%;
  }
}

/* manga-view -------------------------------- */

.manga-view{
  max-width: 1260px;
  margin: auto;
  margin-bottom: 40px;
}

.manga-view img{
  width: 100%;
}
