.scan-groups {
    width: 100%;
    display: flex;
    padding: 0px;
}

.scan-groups .groups-content {
    max-width: 1280px;
    margin: auto;
    min-height: 600px;
}

.groups-content .groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.groups-content .groups .card {
    background-image: url(../img/portada-scan.jpg);
    height: 150px;
    width: 300px;
    background-position: 50%;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
    transition: ease .2s;
}

.groups-content .groups .card:hover {
    transition: ease .2s;
    transform: translateY(-5px);
    color: rgb(2, 195, 217);
}

.groups .card .desc-card-scan {
    background-color: #000000af;
    display: flex;
    justify-content: space-between;
}

.groups .card .desc-card-scan p {
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.groups .card .desc-card-scan img {
    height: 20px;
}

.scan-groups .query {
    padding: 20px 10px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.scan-groups .query .input-src {
    margin: 0;
    padding: 10px 18px;
    background-color: rgb(31, 31, 31);
    outline: none;
    border: 1px solid rgb(83, 90, 117);
    color: white;
    min-width: 220px;
    min-height: 40px;
    width: 80%;
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    font-size: 1.1rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.scan-groups .query .input-src::-ms-expand {
    background-color: transparent;
    border: 0
}

.scan-groups .query .input-src:focus {
    /* background-color: #fff; */
    border-color: #363636;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(70, 121, 230, 0.197);
    box-shadow: 0 0 0 .2rem rgba(102, 143, 232, 0.227)
}

.scan-groups .query button {
    width: 20%;
    background-color: rgb(89, 165, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.scan-groups .query button:hover {
    background-color: rgb(71, 138, 73);
}

.scan-groups .query img {
    height: 20px;
}

.filter {
    width: 30%;
    padding: 0px 15px;
    /* background-color: #00ffff12; */
  }

  .main-home .css-1ujnqem-MuiTabs-root,
.filter .css-1ujnqem-MuiTabs-root{
  border-radius: 10px !important;
  margin-bottom: 20px;
}

.main-home .css-1vw5i9y-MuiButtonBase-root-MuiTab-root,
.filter .css-1vw5i9y-MuiButtonBase-root-MuiTab-root{
  background-color: #ffffff0d !important;
}

.main-home .css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected,
.filter .css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected{
  background-color: rgb(177, 5, 5) !important;
  transition: all .5s;
}

.sec-filter {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    background: rgb(143, 0, 0);
    background: linear-gradient(180deg, rgba(143, 0, 0, 1) 0%, rgba(83, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
  }
  
  .cont-semanal {
    width: 50%;
    padding: 0px 40px;
    text-align: left;
  }
  
  .sec-filter h3 {
    font-size: 1.6rem;
    margin-bottom: 25px;
  }
  
  .sec-filter .cont-img {
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }
  
  .sec-filter .cont-img p {
    background-color: rgb(22, 21, 25);
    color: #f0dd93;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    font-size: 1.2rem;
  }
  
  .sec-filter .card {
    display: flex;
    padding: 10px 0px;
  }
  
  .sec-filter .card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  /* .sec-filter .card .nombre {
    margin-top: 15px;
  } */
  
  .sec-filter .card .categoria {
    background-color: rgb(4, 149, 4);
    width: 110px;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 15px;
    text-align: center;
    width: 90px;
  }

@media (max-width: 990px) {
    .scan-groups{
        flex-direction: column-reverse;
      }
    
    .filter {
        width: 100%;
    }
}