
/* Footer ////////////////////////////////// */

.footer-manga {
  width: 100%;
  max-width: 100%;
  /* background-color: #24252c; */
  background-color: rgb(15, 17, 31);
  padding: 40px 0px;
  padding-top: 50px;
}

.footer-manga img {
  height: 25px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  text-align: left;
}

.footer-top li {
  margin: 10px 0px;
}

.footer-top a,
.footer-top p {
  margin: 10px 0px;
  font-size: 1.2rem;
  color: var(--gray);
}

.footer-top a:hover {
  color: white;
}

.footer-top h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.footer-top .site {
  margin-right: 120px;
}

.footer-top .explore {
  margin-right: 120px;
}

.footer-top .contents {
  max-width: 600px;
}

.footer-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.ftb-left .social {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
}

.sep-v {
  width: 1px;
  height: 60%;
  background-color: var(--gray);
  margin: 0px 20px;
}

.ftb-left .social img {
  margin-right: 20px;
}

.ftb-left .copyr {
  color: var(--gray);
}

.ftb-right select {
  padding: 10px;
  margin-right: 10px;
}

/* Responsive --------------------------------- */

@media (max-width: 1280px) {

  .footer-manga{
    padding: 20px;
    font-size: 1rem;
  }

  .footer-top div ul li a,
  .footer-top div p{
    font-size: 1rem;
  }
}

@media (max-width: 760px) {

  .footer-top{
    display: none;
    flex-direction: column;
  }

  .foot-active{
    display: none;
  }

  .footer-top .site{
    margin: 0;
    border-bottom: 1px solid var(--gray);
  }

  .footer-top .site h3{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .footer-manga{
    padding: 40px 24px;
    padding-top: 32px;
  }

  .footer-botton{
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .footer-botton .ftb-right{
    margin-bottom: 20px;
  }

  .menu-accordion{
    display: block;
  }

}