
.btn-cerrar-modal{
    display: flex;
    align-items: center;
}

.cont-modal{
    min-width: 600px;
    background-color: rgb(26, 26, 40);
}

.cont-modal .header-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(40, 40, 65);
    border-bottom: 1px solid rgba(165, 165, 165, 0.41);
}

.cont-modal .header-modal h3{
    margin: 0;
}

.form-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    padding-bottom: 20px;
  }
  
.form-modal .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
}
  
.form-modal .box label{
    margin-bottom: 5px;
    /* font-size: 1.1rem; */
    font-weight: bold;
}
  
.form-modal .box input{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    outline: none;
    /* width: 100%; */
    font-size: 1.1rem;
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(83, 90, 117);
    border-radius: 6px;
    color: rgb(255, 255, 255);
}

.botons-modal{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 1px solid rgba(165, 165, 165, 0.41);
}

.botons-modal button{
    background-color: rgb(33, 129, 225);
    color: #ffffff;
    font-size: 1rem;
    padding: 8px 50px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    border: none;
}

.botons-modal .cancel{
    background-color: rgb(88, 88, 88);
}

@media (max-width: 760px) {

    .cont-modal{
        min-width: auto;
        width: 80%;
        background-color: rgb(26, 26, 40);
    }

    .botons-modal button{
        padding: 8px 20px;
    }
}