.cont-scan{
    width: 100%;
  }
  
  .scan-port{
    width: 100%;
    position: relative;
  }
  
  .scan-port .background:before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: radial-gradient(at 10% 30%,#2957baa7 0,#0d1c3d 100%);
    z-index: 1;
  }
  
  .scan-port .wallpaper:before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("../img/portadaDororo.jpg");
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
  
  .cont-portada{
    max-width: 1280px;
    margin: auto;
    position: relative;
    z-index: 100;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .cont-portada img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .cont-portada .img{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

  .cont-portada .img .type-scan{
    background-color: rgb(33, 129, 225);
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .cont-portada .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 30px;
  }

  .cont-portada .info h4{
    font-size: 2rem;
    margin-top: -16px;
  }

  .cont-scan .cont-portada .info{
    padding-top: 0;
  }
  
  .cont-portada .info .btn-scan{
    background-color: rgb(33, 129, 225);
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 3px;
    margin-left: 25px;
    cursor: pointer;
    user-select: none;
  }
  
  .cont-portada .info .btn-scan:hover{
    background-color: rgb(19, 102, 185);
  }
  
  .btn-pf-active{
    border: 1px solid rgba(255, 255, 255, 0.204);
    background-color: rgb(19, 102, 185) !important;
  }
  /* ---------------------------------------------- */
  
  .cont-scan-info{
    background-color: #081427;
    position: relative;
    z-index: 0;
  }
  
  .cont-scan-info::before{
  
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    /* background-color: rgb(233, 234, 237); */
    background-image: radial-gradient(rgba(255,255,255,.25),rgba(255,255,255,0) 40%),radial-gradient(hsla(44,100%,66%,1) 30%,hsla(338,68%,65%,1),hsla(338,68%,65%,.4) 41%,transparent 52%),radial-gradient(hsla(272,100%,60%,1) 37%,transparent 46%),linear-gradient(155deg,transparent 65%,hsla(142,70%,49%,1) 95%),linear-gradient(45deg,hsla(213,100%,44%,1),hsla(209,100%,53%,1));
    background-position: bottom left,109% 68%,109% 68%,center,center;
    background-position-x: left, 109%, 109%, center, center;
    background-position-y: bottom, 68%, 68%, center, center;
    background-size: 200% 200%,285% 500%,285% 500%,cover,cover;
    background-repeat: no-repeat;
    opacity: .1;
    z-index: -10;
  }
  
  .scan-info{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0px 15px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 100;
  }
  
  .scan-info h3{
    font-size: 1.5rem;
    color: #2f89f0;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .scan-info .title{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .scan-info .form-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-info .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 48%;
    padding: 10px 0px;
  }
  
  .form-info .box-avatar p{
    padding: 5px 0px;
  }
  
  .form-info .box label{
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
  
  .form-info .box input{
    background-color: white;
    padding: 10px 15px;
    border: 1px solid rgb(184, 184, 184);
    font-size: 1rem;
    min-width: 90%;
    color: black;
  }
  
  .form-info .box select{
    background-color: white;
    padding: 10px 12px;
    border: 1px solid rgb(184, 184, 184);
    font-size: 1rem;
    min-width: 90%;
    color: black;
  }
  
  .scan-info .separador{
    margin-bottom: 40px;
  }
  
  .scan-info .btn-guardar{
    background-color: rgb(33, 129, 225);
    color: #ffffff;
    font-size: 1rem;
    padding: 8px 50px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
  }
  
  .scan-info .btn-eliminar{
    background-color: rgb(194, 21, 21);
    color: #ffffff;
    font-size: 1rem;
    padding: 8px 100px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
  }
  
  .mensaje-elim{
    color: rgb(197, 197, 197);
    font-weight: 600;
  }

  .cont-scan .scan-content{
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .cont-scan .css-1ujnqem-MuiTabs-root{
    margin-bottom: 0;
  }

  .scan-content{
    max-width: 1280px;
    margin: auto;
  }

  .scan-content .members{
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(233, 234, 237);
    color: #2f89f0;
  }

  .scan-content .members h2{
    text-align: start;
  }

  .members .member-cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }

  .member-card {
    width: 95%;
    height: 200px;
    border: none;
    margin: 5px;
    color: #ffffff;
  }
  
  .card span {
    font-weight: 600;
    text-align: center;
    display: block;
    font-size: 1.3em;
  }
  
  .card .rol {
    font-weight: 400;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
  }

  .member-card .info-member{
    background-color: #252525;
  }
  
  .member-card img{
    width: 100%;
    background: #e8e8e8;
    margin: auto;
  }

  .scan-content .members .btn-req-member{
    background-color: rgb(33, 129, 225);
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    transition: .5s;
  }

  .scan-content .members .btn-req-member:hover{
    background-color: rgb(25, 102, 179);
  }
  

  .scan-content .members .btn-scan a{
    color: #ffffff;
  }

  .cont-scan .css-11yukd5-MuiTabs-indicator{
    display: block;
    height: 6px;
  }
  
  .cont-scan .hidden-indicator .css-11yukd5-MuiTabs-indicator{
    display: none !important;
  }

  .scan-content .sec-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .scan-content .sec-cards .cont-card{
    width: 95%;
  }


  .members .member-titles{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
  @media (max-width: 1200px) {
    
    .cont-portada {
      padding-top: 30px;
      justify-content: center;
    }
  
    .cont-portada .info{
      padding-left: 20px;
      padding-right: 0px;
    }
  
    .cont-portada img{
      width: 250px;
      height: 250px;
    }
  
    .scan-info {
      padding-right: 26px;
      padding-left: 26px;
    }
  
    .form-info .box {
      min-width: 50%;
    }
  
    .form-info .box input,
    .form-info .box select {
      min-width: 95%;
    }

    .cont-scan .scan-content{
      display: flex;
      flex-direction: column;
    }

    .members .member-titles{
      justify-content: space-between;
    }

    .members .member-cards{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .members .member-cards .member-card{
      height: auto;
    }

    .scan-content .members{
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  @media (max-width: 920px) {
    .scan-content .sec-cards{
      grid-template-columns: repeat(3,1fr);
    }

    .members .member-cards{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 760px) {
  
    .cont-portada {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .cont-portada .info .username{
      font-size: 2rem;
    }
  
    .cont-portada img{
      padding: 6px;
      width: 98%;
      height: 98%;
    }
  
    .cont-portada .info .btn-scan{
      font-size: 1rem;
    }
  
    .cont-portada .info{
      display: flex;
      align-items: center;
      padding: 0;
    }
  
    .cont-portada .etiq-cards {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .cont-portada .etiq-cards .card{
      margin-bottom: 6px;
    }
  
    .cont-scan .css-1vw5i9y-MuiButtonBase-root-MuiTab-root{
      font-size: 0.8rem !important;
    }
  
    .cont-scan .css-heg063-MuiTabs-flexContainer{
      flex-wrap: wrap;
    }
  
    .cont-scan .css-1vw5i9y-MuiButtonBase-root-MuiTab-root{
      min-width: 33%;
      padding: 3px;
    }
  
    .cont-scan .css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected{
      background-color: #051331 !important;
    }
  
    .cont-scan .hidden-indicator .css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected{
      background-color: transparent !important;
    }
  
    .cont-scan .css-11yukd5-MuiTabs-indicator{
      display: none;
    }

    .members .member-cards{
      grid-template-columns: repeat(3, 1fr);
    }
    
  }
  
  @media (max-width: 600px) {
    .form-info .box {
      width: 100%;
    }
  
    .form-info .box input,
    .form-info .box select {
      width: 100%;
    }
  
    .scan-info .btn-guardar {
      padding: 8px 60px;
    }
  
    .scan-info .btn-eliminar {
      width: 100%;
    }

    .scan-content .sec-cards{
      grid-template-columns: repeat(2,1fr);
    }
    .members .member-cards{
      grid-template-columns: repeat(2, 1fr);
    }
  }